obj/Debug/net6.0/refint/Lesson1_-_-.dll
obj/Debug/net6.0/ref/Lesson1_-_-.dll
obj/Debug/net6.0/Lesson1_-_-.pdb
obj/Debug/net6.0/Lesson1_-_-.AssemblyInfoInputs.cache
obj/Debug/net6.0/Lesson1_-_-.assets.cache
obj/Debug/net6.0/Lesson1_-_-.csproj.AssemblyReference.cache
obj/Debug/net6.0/Lesson1_-_-.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Lesson1_-_-.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Lesson1_-_-.dll
bin/Debug/net6.0/Lesson1_-_-.dll
bin/Debug/net6.0/Lesson1_-_-.exe
bin/Debug/net6.0/Lesson1_-_-.pdb
obj/project.nuget.cache
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Lesson1_-_-.genruntimeconfig.cache
bin/Debug/net6.0/Lesson1_-_-.deps.json
bin/Debug/net6.0/Lesson1_-_-.runtimeconfig.json
obj/Lesson1_-_-.csproj.nuget.dgspec.json
obj/Lesson1_-_-.csproj.nuget.g.props
obj/Lesson1_-_-.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Lesson1_-_-.AssemblyInfo.cs
obj/Debug/net6.0/Lesson1_-_-.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Lesson1_-_-.GlobalUsings.g.cs
bin/Debug/net6.0/Lesson1_-_-.deps.json
Lesson1_-_-.csproj
